{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-5 text-white text-center" 
        style="background-color: {{ styling.topcolour }};">

    <h1 style="font-weight: 600;font-size: 3rem;letter-spacing: 0.21em;">{{ title }}</h1>
    <p>{{ mission }}</p> 
</div>

<div class="container mt-5">
    
    {% for group in projectgroups %}

    <h2 class="text-center" style="padding: 0.8rem;font-weight: 500;letter-spacing:0.180em">{{ group.groupname }}</h3>
        <div class="card-group">
            {% for project in group.projects %}
            <div class="col-sm-4">
                <div class="card" style="margin:0.3rem;">
                    <div class="card-header" >
                        <a href="{{ project.link }}">
                            <h5 class="card-title">{{ project.name }}</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ project.slug }}</h6>
                        <p class="card-text">{{ project.desc }}</p>
                    </div>
                </div> 
            </div> <!-- col -->
            {% endfor%}
        </div> <!-- card-group -->
    </br>
    <hr>
    {% endfor%}
</div> <!-- container -->

<!-- Copyright -->
<!-- <footer class="bg-secondary text-center text-white">
    <span class="text-center p-3" >© 2021 Copyright</span>
</footer> -->
{% endblock %}
